/* Cta Group Btn Block Styles */
.block--custom-layout__cta-group-btn {
  padding: 100px 0;
  @include both-padding;

  .cta-group-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (max-width: $vp-mobileLandscape) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 20px;
    }

    .btn {
      text-align: center;
    }
  }
}
