/* Inquiry Type Block Styles */
.block--custom-layout__inquiry-type {
     padding-top: 100px;
     @include padding-top;

     .section-header-wrapper {
          h2 {
               color: $dark-sapphire;
               margin-top: 0;
               margin-bottom: 15px;
          }

          p {
               color: #000;
               margin-top: 0;
               margin-bottom: 30px;
          }
     }

     .key-inquiry {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 15px;
          grid-row-gap: 15px;

          @media (max-width: $vp-tabletLandscape) {
               grid-template-columns: repeat(2, 1fr);
               grid-row-gap: 10px;
          }

          @media (max-width: $vp-mobileLandscape) {
               grid-template-columns: repeat(1, 1fr);
          }

          .inquiry__item {
               padding: 30px;
               border-radius: 15px;
               position: relative;
               overflow: hidden;
               display: flex;
               flex-direction: column;
               justify-content: start;
               align-items: center;
               text-align: center;
               gap: 30px;

               @media (max-width: $vp-tabletPortrait) {
                    flex-direction: row;
                    justify-content: flex-start;
                    text-align: unset;
               }

               h3 {
                    color: $white;
                    @include typography(20px, 700, 30px, $font-primary);
                    margin: 0;
                    @media (max-width: $vp-tabletPortrait) {
                         @include typography(16px, 700, 26px, $font-primary);
                         text-align: unset;

                         br {
                              display: contents;
                         }
                    }

                    @media (max-width: $vp-mobileLandscape) {
                         @include typography(14px, 700, 24px, $font-primary);

                         br {
                              display: contents;
                         }
                    }
               }
          }
     }

     .inquiry__cta {
          display: flex;
          justify-content: center;
          margin-top: 30px;

          button {
               cursor: pointer;
               @include hover-bg;
          }
     }
}

.cf-popup {
     position: fixed;
     inset: 0;
     z-index: 9999;
     visibility: hidden;
     pointer-events: none;

     display: flex;
     justify-content: center;
     align-items: center;

     .cf-popup__overlay {
          position: absolute;
          inset: 0;
          background: rgba(0, 0, 0, 0.8);
          backdrop-filter: blur(8px);
          -webkit-backdrop-filter: blur(8px);
          opacity: 0;
     }

     .cf-popup__content {
          position: relative;
          max-width: 920px;
          max-height: calc(100vh - 80px);
          overflow-y: auto;
          margin: 0 auto;
          background: #fff;
          border-radius: 12px;
          padding: 40px;

          @media (max-width: $vp-tabletPortrait) {
               height: 90%;
               max-width: 100%;
               padding: 20px;
               margin: 0 20px;
               overflow-y: scroll;
               .container {
                    padding: 20px;
               }
          }

          @media (max-width: $vp-mobileLandscape) {
               height: 90%;
               max-width: 100%;
               padding: 10px;
               margin: 0 10px;
               overflow-y: scroll;
               .container {
                    padding: 10px;
               }
          }

          @include typography(16px, 400, 26px, $font-primary);

          .header-section {
               display: flex;
               justify-content: space-between;
               align-items: center;

               h2 {
                    color: $dark-sapphire;

                    @include typography(26px, 700, 40px, $font-primary);

                    @media (max-width: $vp-tabletPortrait) {
                         @include typography(20px, 700, 30px, $font-primary);
                         br {
                              display: contents;
                         }
                    }

                    @media (max-width: $vp-mobileLandscape) {
                         @include typography(16px, 700, 26px, $font-primary);
                    }
               }

               .logo {
                    img {
                         height: 25px;
                         @media (max-width: $vp-tabletPortrait) {
                              height: 20px;
                         }

                         @media (max-width: $vp-mobileLandscape) {
                              height: 12px;
                         }
                    }
               }
          }

          //OVERRIDE FORM STYLES

          @media (min-width: 783px) {
               .forminator-ui.forminator-custom-form:not(
                         .forminator-size--small
                    )[data-grid="open"]
                    .forminator-row-inside:not(:last-child),
               .forminator-ui.forminator-custom-form:not(
                         .forminator-size--small
                    )[data-grid="open"]
                    .forminator-row:not(:last-child) {
                    margin-bottom: 10px;
               }
          }

          @media (min-width: 783px) {
               .forminator-ui.forminator-custom-form:not(
                         .forminator-size--small
                    )[data-grid="open"]
                    .forminator-col {
                    min-width: unset;
                    // -webkit-box-flex: 0;
                    // -ms-flex: 0;
                    // flex: 0;
                    padding: 0;
               }
          }

          .forminator-ui.forminator-custom-form[data-design="basic"]
               .forminator-textarea,
          .forminator-ui.forminator-custom-form[data-design="basic"]
               .forminator-input {
               @include body-font;
               border: 1px solid $grey;
               border-radius: 5px;
               padding: 10px;
          }

          .forminator-ui.forminator-custom-form[data-design="basic"]
               .forminator-textarea:focus,
          .forminator-ui.forminator-custom-form[data-design="basic"]
               .forminator-input:focus {
               border-color: $dark-sapphire;
               outline: none;
          }

          .forminator-ui.forminator-custom-form[data-design="default"]
               .forminator-checkbox:not(
                    .forminator-checkbox-inline
               ).forminator-consent {
               display: block;
          }

          .forminator-ui#forminator-module-668.forminator-design--default
               .forminator-checkbox__label
               p {
               margin-top: 0;
          }

          .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row, .forminator-ui.forminator-custom-form:not(.forminator-size--small)[data-grid=open] .forminator-row-inside {
              -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;

              @media (max-width: $vp-tabletPortrait) {
                   -ms-flex-wrap: wrap;
                   flex-wrap: wrap;
              }
          }

          form {
               margin-top: 40px;
               padding: 0;
               margin-left: 10px;
               margin-right: 10px;

               @media (max-width: $vp-tabletPortrait) {
                    margin-left: 0;
                    margin-right: 0;
               }

               &.forminator-custom-form-668 {
                    .forminator-row {
                         display: flex;
                         gap: 10px;

                         @media (max-width: $vp-tabletPortrait) {
                            margin-bottom: 10px !important;
                         }

                         div#name-1 {
                              width: 30%;
                              min-width: unset;
                              flex: auto;
                              @include cf-responsive-width;
                              @media (max-width: $vp-tabletPortrait) {
                                width: calc(50% - 5px);
                                margin-bottom: 0;
                              }

                              @media (max-width: $vp-mobileLandscape) {
                                
                              }
                         }
                         div#name-2 {
                              width: 30%;
                              min-width: unset;
                              flex: auto;
                              @include cf-responsive-width;
                              @media (max-width: $vp-tabletPortrait) {
                                   width: calc(50% - 5px);
                                   margin-bottom: 0;
                              }

                              @media (max-width: $vp-mobileLandscape) {
    
                              }
                         }
                         div#email-1 {
                              width: 20%;
                              min-width: unset;
                              flex: unset;
                              @include cf-responsive-width;
                              @media (max-width: $vp-tabletPortrait) {
                                   width: calc(50% - 5px);
                                   margin-bottom: 0;
                              }

                              @media (max-width: $vp-mobileLandscape) {
                                 
                              }
                         }
                         div#phone-1 {
                              width: 20%;
                              min-width: unset;
                              flex: unset;
                              @include cf-responsive-width;

                              @media (max-width: $vp-tabletPortrait) {
                                   width: calc(50% - 5px);
                                   margin-bottom: 0;
                              }
                         }

                         div#text-1 {
                              width: 60%;
                              flex: 2 0 0;
                              @media (max-width: $vp-tabletPortrait) {
                                  margin-bottom: 0;
                              }
                              @media (max-width: $vp-mobileLandscape) {
                                   width: 100%;
                                   flex: auto;
                              }
                         }
                         div#text-3 {
                              width: 20%;
                               flex: 1 0 0;
                              @media (max-width: $vp-tabletPortrait) {
                                margin-bottom: 0;
                              }
                              @media (max-width: $vp-mobileLandscape) {
                                   width: 50%;
                              }
                         }
                         div#text-4 {
                              width: 20%;
                              flex: 1 0 0;
                              @media (max-width: $vp-tabletPortrait) {
                                  margin-bottom: 0;
                              }
                              @media (max-width: $vp-mobileLandscape) {
                                   width: 50%;
                              }
                         }
                         div#text-2 {
                              width: 100%;
                         }
                         .forminator-col {
                              width: 100%;
                         }

                         #consent-1 {
                              .forminator-checkbox {
                                   display: block;
                              }
                              .forminator-consent__label p {
                                   margin-top: 0;
                                   @include typography(
                                        16px,
                                        400,
                                        26px,
                                        $font-primary
                                   );

                                   @media (max-width: $vp-tabletPortrait) {
                                        @include typography(
                                             14px,
                                             400,
                                             24px,
                                             $font-primary
                                        );
                                   }

                                   @media (max-width: $vp-mobileLandscape) {
                                        @include typography(
                                             12px,
                                             400,
                                             22px,
                                             $font-primary
                                        );
                                   }
                                   a {
                                        color: $red-sun;
                                        text-decoration: underline;
                                   }
                              }
                         }

                         .forminator-field-consent {
                              margin-top: 40px;
                              margin-bottom: 40px;
                         }
                         .forminator-field {
                              label {
                                   display: none;
                              }
                         }

                         .forminator-button-submit {
                              border: 0;
                              border-radius: 5px;
                              background: $dark-sapphire;
                              color: $white;
                              cursor: pointer;
                              border: 0;

                              @include hover-bg;
                              @include typography(
                                   20px,
                                   700,
                                   30px,
                                   $font-primary
                              );

                              @media (max-width: $vp-tabletPortrait) {
                                   @include typography(
                                        14px,
                                        700,
                                        24px,
                                        $font-primary
                                   );
                              }

                              @media (max-width: $vp-mobileLandscape) {
                                   @include typography(
                                        12px,
                                        700,
                                        22px,
                                        $font-primary
                                   );
                              }
                              padding: 10px;
                              min-width: 100%;

                              &:hover {
                                   background: $red-sun;
                                   color: $white;
                                   border: 0;
                              }
                         }
                    }
               }
          }
     }

     .cf-popup__close {
          @include body-font;
          text-decoration: underline;
          background: none;
          border: none;
          cursor: pointer;
          text-align: center;
          width: 100%;
          margin-top: 20px;

          &:hover {
               color: $pacific-blue;
          }
     }
}
