/* Key Takeaways Block Styles */
.block--custom-layout__key-takeaways {
  padding-top: 100px;
  @include padding-top;

  .key-pointer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: $vp-tabletPortrait) {
      gap: 10px;
    }

    .key-pointer__item {
      background-color: $light-grey;
      padding: 30px;
      border-radius: 15px;
      position: relative;
      overflow: hidden;

      @media (max-width: $vp-tabletPortrait) {
        padding: 30px 20px;
      }

      .key-pointer__icon {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom-left-radius: 15px;
        @include icon-style;

        @media (max-width: $vp-mobileLandscape) {
          svg {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }

      .key-pointer__text {
        color: $dark-sapphire;

        @media (max-width: $vp-tabletPortrait) {
          padding-right: 50px;
        }

        @media (max-width: $vp-mobileLandscape) {
          padding-right: 30px;
        }

        h3 {
          padding-right: 50px;
          margin-top: 0;
          margin-bottom: 30px;
          color: $dark-sapphire;
          @include typography(20px, 700, 30px, $font-primary);

          @media (max-width: $vp-tabletPortrait) {
            @include typography(16px, 700, 26px, $font-primary);
            padding-right: 50px;
            margin-bottom: 20px;
          }

          @media (max-width: $vp-mobileLandscape) {
            @include typography(14px, 700, 24px, $font-primary);
            padding-right: 30px;

          }
        }

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .key-takeaways__cta {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
