/* News Events Block Styles */
.block--custom-layout__news-events {
     .section-header-wrapper {
          h2 {
               color: $dark-sapphire;
               margin-bottom: 30px;
          }
     }
     .two-column__wrapper {
          display: flex;
          align-items: stretch;
          gap: 100px;

          @media (max-width: $vp-tabletPortrait) {
               display: block;
               flex-direction: column;
               gap: 60px;
          }

          &.image-left {
               flex-direction: row-reverse;

               @media (max-width: $vp-tabletPortrait) {
                    flex-direction: column;
                    gap: 60px;
               }
          }

          .two-column__text-content,
          .two-column__image-content {
               flex: 1;
               width: 50%;

               @media (max-width: $vp-tabletPortrait) {
                    width: 100%;
               }
          }

          .two-column__text-content {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               justify-content: center;
               gap: 15px;
               .superheader {
                    @include typography(16px, 700, 26px, $font-primary);
                    background-color: $light-grey;
                    color: $dark-sapphire;
                    padding: 5px 20px;
                    margin-bottom: 15px;
                    border-radius: 100px;
                    width: fit-content;
                    margin: 0;

                    @media (max-width: $vp-tabletPortrait) {
                         @include typography(14px, 700, 24px, $font-primary);
                    }
                    @media (max-width: $vp-mobileLandscape) {
                         @include typography(12px, 700, 22px, $font-primary);
                    }
               }

               .column-title {
                    @include typography(26px, 700, 36px, $font-primary);
                    color: $dark-sapphire;
                    margin: 0;

                    @media (max-width: $vp-tabletPortrait) {
                         @include typography(20px, 700, 30px, $font-primary);
                    }
                    @media (max-width: $vp-mobileLandscape) {
                         @include typography(16px, 700, 26px, $font-primary);
                    }
               }

               .column-text {
                    p {
                         @include typography(16px, 400, 26px, $font-primary);
                         color: #000;
                         margin: 0;
                         @media (max-width: $vp-tabletPortrait) {
                              @include typography(
                                   14px,
                                   400,
                                   24px,
                                   $font-primary
                              );
                         }
                         @media (max-width: $vp-mobileLandscape) {
                              @include typography(
                                   12px,
                                   400,
                                   22px,
                                   $font-primary
                              );
                         }
                    }
               }
          }

          .two-column__image-content {
               position: relative;
               img {
                    width: 100%;
                    height: auto;
                    inset: 0;
                    object-fit: cover;
                    pointer-events: none;
                    border-radius: 15px;
                    overflow: hidden;
               }

               .preview {
                    position: absolute;
                    cursor: pointer;
                    pointer-events: auto;
                    z-index: 3;

                    svg path {
                         stroke: #a9aaac;
                         stroke-width: 2px;
                    }

                    &:hover {
                         svg path {
                              fill: $dark-sapphire;
                              stroke: $dark-sapphire;
                         }
                    }
               }
          }
     }
}
