/* Paragraph Button Block Styles */
.block--custom-layout__paragraph-button {
  padding-top: 100px;
  @include padding-top;


  .inner-title {
    color: $dark-sapphire !important;
    padding-top: 0;
    padding-bottom: 40px;

    p {
      padding:0;
    }
  }

  .paragraph-button__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: $vp-tabletPortrait) {
      gap: 10px;
    }

    @media (max-width: $vp-mobileLandscape) {
      flex-direction: column;
      .btn {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }

}
