/* Paragraph Block Styles */
.block--custom-layout__paragraph {


  .section {
    h2 {
      margin-top: 0;
      margin-bottom: 15px;
      color: $dark-sapphire;
    }
    p {
      color: $dark-sapphire;
      margin-top: 0;
    }
  }
}
