/* Shareholders Block Styles */
.block--custom-layout__shareholders {
  padding: 100px 0;
  @include both-padding;
  .section-header-wrapper {
    h2 {
      color: $dark-sapphire;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
  .shareholders-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 100%;
    background-color: $light-grey;
    border-radius: 15px;
    overflow: hidden;

    p {
      color: $dark-sapphire;
      font-weight: 700;
      margin: 0;
    }
  }
}
