// Variables for global styles
$dark-sapphire: #24356D;
$pacific-blue: #00A4C3;
$cornflower-light: #8DA4D5;
$cornflower-blue: #4A90E2;
$light-grey: #EDEDEE;
$grey: #A9AAAC;
$red-sun: #EB574F;
$golden-yellow: #DFAD33;
$white: #FFFFFF;
$black: #000000;


$blue-diane: #1E4252;

// Container Width
$containerMaxWidth: 100%;
$containerDefaultWidth: 1440px;

// Breakpoints
$vp-tabletLandscape: 1200px;
$vp-tabletPortrait: 991px;
$vp-mobileLandscape: 767px;
$vp-mobilePortrait: 479px;

// Fonts
$font-primary: 'Arial', sans-serif;
$font-secondary: 'Inter', serif;


// Color Palette
